@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap");

:root {
	--primary-color: #293251;
	--secondary-color: #f5f5f5;
	--accent-color: #a8c0ff;
	--error-color: #af0606;
}

* {
	box-sizing: border-box;
	font-family: "Space Grotesk", sans-serif;
}

body {
	background-color: var(--primary-color);
}